img.detail-img{
  height: auto;
  width: 80% !important;
}
.width-20-percent{
  width: 20%;
}
.width-40-percent{
  width: 40%;
}
.width-60-percent{
  width: 60%;
}
.width-80-percent{
  width: 80%;
}
.width-100-percent{
  width: 100%;
}
