input.menu-add-to-cart{
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 34px;
  color: #888888;
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  text-align: center;
  font-weight: 600;
  border-radius: 0;
  padding: 2px 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 14px;
}
input.menu-add-to-cart:hover{
  color: white;
  background-color:#6667AB;
}
