<main id="main" class="main-site left-sidebar">
  <div class="container">
    <div class="wrap-breadcrumb">
      <ul></ul>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 main-content-area">
        <div class="row">
          <ul class="product-list grid-products equal-container">
            <%= render partial: "menu/product", collection: @products %>
          </ul>
        </div>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div><!--end main products area-->

      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 sitebar">
        <div class="widget mercado-widget categories-widget">
          <h2 class="widget-title">All Categories</h2>
          <div class="widget-content">
            <ul class="list-category">
              <li class="category-item has-child-cate">
                <a href="#" class="cate-link">Fashion & Accessories</a>
                <span class="toggle-control">+</span>
                <ul class="sub-cate">
                  <li class="category-item"><a href="#" class="cate-link">Batteries (22)</a></li>
                  <li class="category-item"><a href="#" class="cate-link">Headsets (16)</a></li>
                  <li class="category-item"><a href="#" class="cate-link">Screen (28)</a></li>
                </ul>
              </li>
              <li class="category-item has-child-cate">
                <a href="#" class="cate-link">Furnitures & Home Decors</a>
                <span class="toggle-control">+</span>
                <ul class="sub-cate">
                  <li class="category-item"><a href="#" class="cate-link">Batteries (22)</a></li>
                  <li class="category-item"><a href="#" class="cate-link">Headsets (16)</a></li>
                  <li class="category-item"><a href="#" class="cate-link">Screen (28)</a></li>
                </ul>
              </li>
              <li class="category-item has-child-cate">
                <a href="#" class="cate-link">Digital & Electronics</a>
                <span class="toggle-control">+</span>
                <ul class="sub-cate">
                  <li class="category-item"><a href="#" class="cate-link">Batteries (22)</a></li>
                  <li class="category-item"><a href="#" class="cate-link">Headsets (16)</a></li>
                  <li class="category-item"><a href="#" class="cate-link">Screen (28)</a></li>
                </ul>
              </li>
              <li class="category-item">
                <a href="#" class="cate-link">Tools & Equipments</a>
              </li>
              <li class="category-item">
                <a href="#" class="cate-link">Kid’s Toys</a>
              </li>
              <li class="category-item">
                <a href="#" class="cate-link">Organics & Spa</a>
              </li>
            </ul>
          </div>
        </div><!-- Categories widget-->
      </div><!--end sitebar-->
    </div><!--end row-->
  </div><!--end container-->
</main>
