<div class="single-advance-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="wrap-show-advance-info-box style-1 box-in-site">
    <h3 class="title-box"><%= t ".related" %></h3>
    <div class="wrap-products">
      <div class="products slide-carousel owl-carousel style-nav-1 equal-container" data-items="5" data-loop="false" data-nav="true" data-dots="false" data-responsive='{"0":{"items":"1"},"480":{"items":"2"},"768":{"items":"3"},"992":{"items":"3"},"1200":{"items":"5"}}' >
        <% if @related.any? then %>
          <%= render partial: "customer/home/partials/product", collection: @related %>
        <% end %>
      </div>
    </div><!--End wrap-products-->
  </div>
</div>
