<div class="jumbotron text-center">
  <h1 class="display-3"><%= t ".title"%></h1>
  <p class="lead"><strong><%= t ".text"%></strong></p>
  <hr>
  <p class="lead">
  <%= link_to t(".continue"), root_path, class:"btn btn-primary", "data-turbolinks": "false" %>
  </p>
</div>
