<tr>
  <td><%= category.name %></td>
  <td><%= category.parent_id %></td>
  <td>
    <div class="d-grid gap-2 d-md-block">
      <%= link_to edit_admin_category_path(category), class: "btn btn-primary" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= link_to admin_category_path(category), method: :delete,
          data: { confirm: t(".you_sure") }, class: "btn btn-danger" do %>
        <i class="fa-solid fa-trash", style="color: white;"></i>
      <% end %>
    </div>
  </td>
</tr>
